<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Bejelentkezés</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Bejelentkezés</h1>
        <h2 th:if="${loginFailed}">Hibás felhasználónév vagy jelszó!</h2>
        <form action="#" th:action="@{/felhasznalo/login}" th:object="${felhasznalo}" method="post">
            <div id="felhasznalonev">
                <label for="felhasznalonev">Felhasználónév:</label>
                <input type="text" name="felhasznalonev" placeholder="felhasznalonev" th:field="*{felhasznalonev}" />
            </div>
            <div id="jelszo">
                <label for="jelszo">Jelszó:</label>
                <input type="jelszo" name="jelszo" placeholder="jelszo" th:field="*{jelszo}" />
            </div>
            <input type="submit" value="Küldés!" />
            <button type="reset">Vissza</button>
        </form>
    </body>
</html>