<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Bejelentkezés</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Bejelentkezés</h1>
        <h2 th:if="${loginFailed}">Hibás felhasználónév vagy jelszó!</h2>
        <form action="#" th:action="@{/login}" th:object="${user}" method="post">
            <div id="username">
                <label for="username">Felhasználónév:</label>
                <input type="text" name="username" th:field="*{username}" />
            </div>
            <div id="password">
                <label for="password">Jelszó:</label>
                <input type="password" name="password" th:field="*{password}" />
            </div>
            <input type="submit" value="Küldés!" />
            <button type="reset">Vissza</button>
        </form>
    </body>
</html>