<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Regisztráció</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Regisztráció</h1>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <div id="username">
        <label for="username">Felhasznalónév:</label>
        <input type="text" name="username" th:field="*{username}" />
    </div>
    <div id="password">
        <label for="password">Jelszó:</label>
        <input type="password" name="password" th:field="*{password}" />
    </div>
    <input type="submit" value="Regisztráció" />
    <button type="reset">Vissza</button>
</form>
</body>
</html>